
<div class="blog-post">
	<h2 class="my-blog-title">Code-Addict blog !</h2>
	<div class="my-blog">
	<p>Congratulations! You choose right path and enter my blog ;) I start it long time ago but unfortunatly I haven't got much time
		 and I just forgot about it... but now time has come to clean it up and move to another level. </p>
	<p>I will try to talk about the following topics:
		<ul>
			<li> Java Programming language and all kind of her flavours :D</li>
			<li> Other programming languages like Ruby, Python, C++ , C# and everything else that I will want to try</li>
			<li> Using and configuration of Arch linux and other distributions</li>
			<li> Poetry... </li>
			<li> Ok, I'm joking with poetry :) </li>			
		</ul></p>
	<p>I will try to write posts in english and polish, but I will probably don't translate each post.</p>
	<p> By the way this site is made using Ruby on Rails and Twitter bottstrap library but I'm still 
		working on it and that's why not evertyhing is ready yet... sorry. </p>
	<p>Why I used RoR to build this site? I hear about RoR and just want to try it out! After I build decent version I will publish source
	 code of this blog on my GitHub account.
	</p>
	</div>
</div>
<!--
<%= link_to 'My Blog', controller: 'articles' %>
-->
